@import "variables";
.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}
.check-box-lenght {
  width: 150px;
  margin: 0 16px;
}
.custom-checkbox {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  accent-color: #0d6efd; /* Màu xanh Bootstrap */
  cursor: pointer;
}
